@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
html,
body,
*,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  touch-action: none;
}

$main: #fc9803;
$text: #595959;

.container {
  width: 1200px;
  margin: auto;
  position: relative;
  @media screen and (max-width: 1200px) {
    width: 100%;
    padding: 0 10px;
  }
}

nav {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  height: 70px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      .logo-icon {
        font-size: 30px;
        color: $main;
        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
      }
      h1 {
        margin-left: 10px;
        font-size: 30px;
        font-weight: bold;
        color: $main;
        @media screen and (max-width: 500px) {
          font-size: 20px;
        }
      }
    }
    .menu {
      .login-btn {
        margin-right: 10px;
        border-radius: 20px;
      }
      .signup-btn {
        border-radius: 20px;
      }
    }
    .user {
      cursor: pointer;
      display: flex;
      align-items: center;
      h2 {
        margin-right: 10px;
      }
    }
  }
}
.slider {
  background-color: #fff;
  position: relative;
  height: calc(100vh - 100px);
  @media screen and (max-width: 770px) {
    height: 100%;
  }
  .carusel-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
    @media screen and (max-width: 770px) {
      height: unset;
    }
    // animation: beat 10s ease-in-out infinite;
    // animation-fill-mode: forwards;
  }
  .slider-overlay {
    padding-bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    z-index: 2;

    .container {
      display: flex;
      align-items: flex-end;

      height: 100%;
      h1 {
        color: $main;
        font-size: 3em;
        font-weight: bold;
        line-height: 1em;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
        @media screen and (max-width: 500px) {
          font-size: 2em;
          padding-bottom: 20px;
        }
      }
    }
  }
}

@keyframes beat {
  0% {
    transform: scale(1.2);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.home {
  padding-top: 100px;
  height: calc(100vh - 100px);
  display: flex;
  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
  }

  .left {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    @media screen and (max-width: 770px) {
      align-items: center;
      padding-bottom: 20px;
    }
    .hero-type {
      font-size: 30px;
      @media screen and (max-width: 770px) {
        text-align: center;
      }
    }
    .color {
      display: flex;
      height: 60px;
      align-items: center;
      margin-bottom: 20px;
      @media screen and (max-width: 770px) {
        justify-content: center;
      }

      h1 {
        font-size: 60px;
        color: $main;
      }
      .hero-type-main-color {
        margin: 0 5px;
        font-weight: bold;
      }
    }
    .hero-type-p {
      @media screen and (max-width: 770px) {
        text-align: center;
        width: 80%;

        margin: auto;
        margin-bottom: 20px;
      }
      margin-bottom: 20px;
      font-weight: 300;
    }
    .cta {
      max-width: 220px;
      border-radius: 30px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cta-icon {
      margin: 0 5px;
      font-size: 20px;
    }
  }
  .right {
    flex: 2;
    max-height: calc(100vh - 100px);

    img {
      width: 100%;
    }
  }
}

.carousel-root {
  max-height: calc(100vh - 100px);
  @media screen and (max-width: 770px) {
    height: 40vh;
  }
  .carousel {
    height: 100%;
  }
}

.slider-wrapper {
  height: 100%;
}

.products {
  padding-top: 100px;
  position: relative;
  width: 100%;
  min-height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  padding-bottom: 40px;
  @media screen and (max-width: 430px) {
    padding: 30px;
    padding-top: 100px;
  }

  .product {
    position: relative;
    height: 280px;
    border-radius: 10px;

    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    &:hover {
      padding: 0px;
      transform: scale(1.2);
      z-index: 10;

      img {
        height: calc(100% - 10px);
      }
      .card-type {
        height: 0;
        opacity: 0;

        transition: all 0.3s ease-in-out;
        margin-top: 0px;
        padding: 0px;
      }
    }
    img {
      height: 50%;
      width: 90%;
      object-fit: cover;
      border-radius: 10px;
      background-color: #eee;
      transition: all 0.3s ease-in-out;
      margin: 10px;
    }
    .skeleton-image {
      border-radius: 10px;
      height: 50%;
      width: 90%;
      background-color: #eee;
      margin: 10px;
    }
    .card-type {
      margin-top: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.09);
      flex: 1;
      height: calc(50% - 20px);
      background-color: #fff;
      padding: 5px 10px;
      transition: all 0.3s ease-in-out;
      .card-name {
        color: $main;
        font-size: 1.5em;
      }
      .card-price-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        .card-price {
          color: rgb(207, 207, 207);

          text-align: center;

          font-size: 2em;
        }
        .card-currency {
          color: $main;
          align-self: flex-end;
          margin-bottom: 10px;
          font-weight: bold;
          font-size: 0.7em;
        }
      }
    }
  }
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  width: 100%;
  padding-top: 100px;
  min-height: 100vh;

  .normal-card {
    position: relative;
    cursor: pointer;
    height: 280px;
    display: grid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    background-color: #fff;
    text-align: center;

    .normal-card-image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }

    .normal-card-type {
      box-shadow: 0 0 5px rgba(39, 27, 27, 0.5);
      align-self: center;
      width: 80%;
      bottom: 20px;
      background-color: #fff;
      position: absolute;
      border-radius: 10px;
      .h1 {
        color: $main;
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0;
      }
      .card-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .card-price {
          font-size: 2em;
        }
        .card-currency {
          color: $main;
          font-size: 0.8em;
        }
      }
    }
  }
}

.expanded-card {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  overflow-y: scroll;
  padding-bottom: 20px;

  .expanded-card-price {
    position: absolute;
    right: calc(50vw - (50vw - (50vw - 600px)));
    top: 20px;
    background-color: $main;
    padding: 5px 10px;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 770px) {
      font-size: 1em;
      font-weight: 300;
    }
    @media screen and (max-width: 1200px) {
      right: 20px;
    }
  }

  .expanded-card-image {
    margin-top: 20px;
    align-self: center;
    object-fit: contain;
    max-height: 500px;
    border-radius: 20px;

    @media screen and (max-width: 770px) {
      width: 100%;
      border-radius: 0;
      margin-top: 0;
    }
  }
  .container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    @media screen and (max-width: 500px) {
      margin: 0;
    }

    .close-btn {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      z-index: 1000;
      position: fixed;
      left: 20px;
      top: 20px;
      color: white;
      border-radius: 1000px;
      height: 40px;
      width: 40px;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .expanded-card-content {
      flex: 1;
      display: flex;
      flex-direction: column;
      .name-price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        .expanded-card-h {
          font-size: 3em;
          color: $main;
          font-weight: bold;
          @media screen and (max-width: 770px) {
            font-size: 2em;
            line-height: 50px;
          }
        }
      }
      p {
        font-size: 1.2em;
        font-weight: 300;
        @media screen and (max-width: 770px) {
          font-size: 1em;
          color: black;
        }
      }
      .button {
        margin-top: 20px;
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        align-self: flex-end;

        @media screen and (max-width: 500px) {
          width: 100%;
        }
      }
    }
  }
}

.masonry {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;

  .normal-card {
    overflow: hidden;
    position: relative;
    cursor: pointer;
    display: grid;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    //
    display: flex;
    background-color: #fff;

    flex-direction: column;
    .normal-card-image {
      width: 100%;
      object-fit: cover;
    }
    .normal-card-type {
      align-self: center;
      bottom: 5px;
      border-radius: 10px;
      padding: 5px;
      .h1 {
        text-align: center;
        color: $main;
        font-size: 1.2em;
        font-weight: bold;
        margin: 10px 0;
      }
      .card-price-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        .card-price {
          font-size: 2em;
        }
        .card-currency {
          color: $main;
          font-size: 0.8em;
        }
      }
    }
  }
}

.login {
  overflow-x: scroll;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .underlay {
    z-index: -1;
    overflow-x: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    img {
      height: 60vh;
      position: absolute;
      @media screen and (max-width: 870px) {
        height: 50vh;
      }
    }
    .first-image {
      left: -150px;
      top: -100px;
    }
    .second-image {
      right: -100px;
      bottom: -100px;
    }
  }

  .form {
    width: 300px;
  }
}

.pagination-wrapper {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  width: 100vw;
  height: 60px;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05);
}

.scroll-conteol {
  height: 100vh;
  overflow-y: scroll;
}
.arrowDown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
  color: $main;
  font-size: 1.5em;
  cursor: pointer;
}

.search-wrapper {
  margin-top: 75px;
  display: flex;
  align-items: center;
  .clear-btn {
    margin-left: 10px;
  }
}

.nomore {
  color: $text;
  font-size: 1em;
}

.paddingTop {
  padding-top: 20px;
}

.back-btn {
  display: none;
  @media screen and (max-width: 700px) {
    border-radius: 50%;
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
  }
}
.spin {
  position: foxed;
  left: 0;
  right: 0;
  height: 70px;
  bottom: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
